#footer {
  background-color: var(--background-color-2);
  font-size: 13px;
  .footer-menu {
    padding: 50px 0;
    h4 {
      font-size: 1em;
      font-weight: 500;
      color: var(--font-color-1);
      padding-bottom: 12px;
    }
    h4 ~ h4 {
      margin-top: 24px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 8px;
        a {
          font-size: 0.95em;
          color: #d2d2d7;
          display: inline-block;
          line-height: 1;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .copyright {
    font-size: 1em;
    color: var(--font-color-2);
    border-top: 1px solid var(--border-color-2);
    text-align: center;
    padding: 32px 0;
  }
}

@media (max-width: 768px) {
  #footer {
    .footer-menu {
      padding: 30px 15px;

      h4 {
        padding-bottom: 4px;
      }
      h4 ~ h4 {
        margin-top: 16px;
      }
    }
  }
}
