#header {
  height: 80px;
  background: transparent;
  display: flex;
  align-items: center;
  transition: all 250ms;
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .logo img {
  height: auto;
  display: block;
}

#navbar {
  position: static;
  padding: 0;
}
#navbar ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#navbar li {
  position: relative;
  padding: 6px 10px;
}
#navbar li a {
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  cursor: pointer;
}

#header.header-scrolled {
  height: 50px;
  border-bottom: 1px solid var(--border-color-2);
  background-color: rgba(22, 22, 22, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

@media (max-width: 991px) {
  #header {
    height: 50px;
    .logo img {
      width: 22px;
    }
  }
  #navbar .navbar-toggler {
    color: #fff;
    border: 0;
    box-shadow: none;
  }
  #navbar .navbar-toggler-icon {
    width: 1.25em;
    height: 1.25em;
  }
  #navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    border-bottom: 1px solid var(--border-color-2);
    background-color: rgba(22, 22, 22, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  #navbar ul {
    flex-direction: column;
    padding: 12px 0;
    li {
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
}
