#ecosystem {
  .section-content {
    padding: 65px;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      position: relative;
      padding-right: 30px;
    }
    li + li {
      border-top: 1px solid var(--border-color-1);
    }
    h3 {
      position: relative;
      cursor: pointer;
      padding: 24px 0;
      margin: 0;
      display: block;
    }
    i {
      position: absolute;
      top: calc(50% - 12px);
      right: 0;
      font-size: 20px;
      color: var(--font-color-2);
    }
    p {
      font-weight: 300;
      margin: 0;
      padding-bottom: 24px;
    }
  }
  img {
    width: 100%;
    transition: none;
  }
}
#ecosystem ul h3.collapsed:hover {
  opacity: 0.85;
}
#ecosystem ul h3.collapsed i {
  display: inline-block;
  transform: rotate(180deg) !important;
}

@media (max-width: 768px) {
  #ecosystem {
    .section-content {
      padding: 32px;
    }
    ul h3 {
      padding: 16px 0;
    }
  }
}
