#faq {
  ul {
    padding: 0;
    list-style: none;
    li + li {
      border-top: 1px solid var(--border-color-2);
    }
    h5 {
      position: relative;
      color: var(--font-color-1);
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      margin: 0;
    }
    p {
      color: var(--font-color-2);
      font-size: 16px;
      margin-bottom: 0;
      line-height: 1.45;
      font-weight: 400;
      padding: 10px 30px 0 0;
    }
  }
  li {
    position: relative;
    padding-right: 30px;
    padding: 24px 0;
  }
}

#faq ul h5.collapsed i {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
#faq ul h5 i {
  position: absolute;
  right: 0;
  top: calc(50% - 10px);
  font-size: 20px;
}

@media (max-width: 992px) {
  #faq {
    ul li {
      padding: 20px 0;
    }
    ul h5 {
      font-size: 18px;
    }
  }
}
@media (max-width: 768px) {
  #faq {
    ul li {
      padding: 16px 0;
    }
    ul h5 {
      font-size: 16px;
    }
  }
}
