.product {
  text-align: center;
}

.product-header {
  color: var(--font-color-2);
  padding: 32px 0;
  margin-bottom: 16px;
  border-bottom: 2px solid var(--border-color-2);
  h3 {
    color: var(--font-color-1);
  }
  h6 {
    font-weight: 400;
  }
  p {
    margin: 32px 0;
  }
  button {
    width: 100%;
    max-width: 160px;
    font-size: 15px;
    border-radius: var(--bs-border-radius-pill);
    margin: 2px auto;
    display: block;
  }
  a {
    font-size: 14px;
  }
}

.product-feature {
  i {
    font-size: 32px;
    margin-bottom: 8px;
    display: block;
  }
  p {
    font-size: 15px;
    margin: 4px 0;
  }
}
.product-feature:not(:first-child) {
  margin-top: 24px;
}
